body {
  font-family: sans-serif;
  font-size: 14px;
  color: #444;
  margin: 0;
  padding: 0;
}

header {
  margin-top: 0;
  padding: 4px 0 0 20px;
  background: #bff;
  height: 35px;
}

h2 {
  margin: 0;
  font-size: 1.8em;
}

table {
  margin: 15px auto;
  text-align: center;
  min-width: 1000px;
  border-collapse: collapse;
}

th {
  font-size: 16px;
  padding: 3px;
}

.legend {
  border-bottom: 1px solid #bbb;
}

.id {
  width: 100px;
}

.ip {
  width: 170px;
}

.when {
  width: 230px;
}

.city, .region {
  width: 165px;
}

.country {
  width: 100px;
}

.row:nth-of-type(2n+1) {
  background: #dff;
}

td {
  margin: 0;
  height: 20px;
}

.commentForm {
  width: 800px;
  margin: 0 auto;
  border: 2px solid #bbb;
  border-radius: 5px;
  padding: 5px;
}

.commentForm h3 {
  margin-top: 0;
}

input[type='text'] {
  width: 650px;
}

.comment {
  max-width: 300px;
}